:root{
  --color-dark: #2C3131;
  --color-light: #F3F3F2;
}

#main{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}


.active{
  background-color: var(--color-dark);
  color: var(--color-light);
}

#profile .flex{
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 200px;
}

#profile .flex .item {
  display: flex;
  align-items: center;
}
#profile .flex .score {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.3rem;
}

#profile .flex img {
max-width: 80px; /* Adjust the maximum width as needed */
max-height: 80px; /* Adjust the maximum height as needed */
border-radius: 50%;
object-fit: cover; /* This ensures the image scales proportionally and covers the entire container */
}

#profile .flex .info {
 padding: 1.2em;
}
#profile .flex .info h3 {
font-size: 1.3rem;
}

.text-dark{
  color: var(--color-dark);
}

@media screen and (max-width: 767px) {
  .flex {
    padding: 15px
  }
  #profile .flex {
    gap: 0;
  }
}

/* Center-align the radio buttons */
/* .radio-group-center {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
} */

.flex {
display: flex;
justify-content: space-between; /* Adjust as needed */
align-items: center; /* Adjust as needed */
padding: 30px; /* Adjust the padding to your preference */
margin-bottom: 10px; 
border-radius: 30px;/* Adjust the margin to your preference */
}

.even-entry {
background-color: #fff; /* Background color for even entries */
}

.odd-entry {
background-color: #8ef2ff; /* Background color for odd entries */
}
