/* Login.module.css */

.loginContainer {
  background-color: #3189ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.header {
  width: 548px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--black-text, #331646);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.label {
  width: 123px;
  height: 24px;
  color: #696f79;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.inputField {
  width: 426px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 15px 40px 5px #ededed;
}

.inputField::placeholder {
  width: 141px;
  height: 21px;
  color: #141515;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.loginButton {
  display: flex;
  width: 294px;
  height: 64px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgb(150, 68, 198);
  background: linear-gradient(0deg, rgba(150, 68, 198, 1) 35%, rgba(142, 242, 255, 1) 100%);
}

.loginButton::text {
  width: 60px;
  height: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
