/* Register.module.css */

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.header {
  width: 100%; /* Adjust width as needed */
  height: 74px; /* Adjust height as needed */
  color: #696F79;
  font-family: Poppins;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: 500;
  line-height: normal;
}

.label {
  width: 100%; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
  color: #696F79;
  font-family: Poppins;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: 500;
  line-height: normal;
}

.inputField {
  width: 100%; /* Adjust width as needed */
  height: 64px; /* Adjust height as needed */
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 15px 40px 5px #EDEDED;
  padding: 0 20px; /* Add padding as needed */
  margin: 10px 0; /* Add margin as needed */
}

.inputField::placeholder {
  width: 100%; /* Adjust width as needed */
  height: 21px; /* Adjust height as needed */
  color: #C0C6D1;
  font-family: Poppins;
  font-size: 14px; /* Adjust font size as needed */
  font-weight: 500;
  line-height: normal;
}

.signupButton {
  display: flex;
  width: 100%; /* Adjust width as needed */
  height: 64px; /* Adjust height as needed */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(150, 68, 198, 1) 35%, rgba(142, 242, 255, 1) 100%);
  color: #fff;
  font-family: Poppins;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px 0; /* Add margin as needed */
}
