.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.header {
  width: 100%;
  height: 74px;
  color: #696F79;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.label {
  width: 100%;
  height: 24px;
  color: #696F79;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.inputField {
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 15px 40px 5px #EDEDED;
  padding: 0 20px;
  margin: 10px 0;
}

.inputField::placeholder {
  width: 100%;
  height: 21px;
  color: #C0C6D1;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.signupButton {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(150, 68, 198, 1) 35%, rgba(142, 242, 255, 1) 100%);
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px 0;
}
