.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-width: min-content;
  min-height: min-content; /* Set a minimum height to take up at least the full viewport height */
  text-align: center; /* Center text within its container */
}

.settings-button {
  background: linear-gradient(0deg, rgba(150, 68, 198, 1) 35%, rgba(142, 242, 255, 1) 100%);
  color: white;
  font-weight: bold;
}
