:root {
  --gradient: linear-gradient(0deg, #9644c6 0%, #8ef2ff 100%);
  --myGrey: #666666;
  --myBlue: #6870fa;
  --myDarkBlue: #141b2d;
  --myGreen: #4cceac;
  --myRed: #db4f4a;
  --black-text: #331646;
  --transition: all 0.3s ease-in-out;
  --background: #3189FF;

  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */
}

.App {
  text-align: center;
  background-color: var(--background);
}

.quiz-nav {
  display: flex;
  justify-content: space-around;
}

.quiz-nav button, .results-container button{
  /* font-family: var(--font-mono); */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 5px;
  font-size: large;
}

.body {
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  background-color: red;
}

.divMiddle {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: inline-flex;
}

.form-group .errorMsg {
  padding-left: 10px;
  color: red;
  font-size: 13px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
}

h2 {
  color: var(--black-text, #331646);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    padding-bottom: 20px;
}



/* Buttons */
button.buttonLight,
button.buttonDark,
button.buttonMisc {
  padding: 15px 25px;
  border-radius: 40px;
  border: none;
  height: auto;
  min-width: 150px;
  font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  /* margin: 20px 0; */
}

/* For light background */
.buttonLight {
  color: #fff;
  background: var(--gradient);
  filter: drop-shadow(0px 4px 4px rgba(150, 68, 198, 0.3));
  transition: var(--transition);
}

.buttonLight:hover {
  margin-top: 3px;
  margin-bottom: -3px;
  filter: none;
  color: #dadada;
}


/* For dark background */
.buttonDark {
  color: var(--gradient);
  background-color: #fff;
  filter: drop-shadow(0px 5px 8px #0163E8);
  transition: var(--transition);
}

/* White Button for non-CTAs */

.buttonMisc {
  background: #8EF2FF;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #fff;
  box-shadow: 0px 5px 8px #dadada;
  transition: var(--transition);
  border: 1px solid #efefef !important;
  width: 80%
}


.buttonDark:hover,
.buttonMisc:hover {
  background-color: #dadada;
  filter: none;
  margin-top: 3px;
  margin-bottom: -3px;
  color: var(--black-text);
    /*test*/
}
.buttonMisc:hover {
  box-shadow: none;
}



