
:root {
  --gradient: linear-gradient(60deg, #141b2d, #6870fa, #141b2d);
  --myGrey: #666666;
  --myBlue: #6870fa;
  --myDarkBlue: #141b2d;
  --myGreen: #4cceac;
  --myRed: #db4f4a;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.App {
  text-align: center;
  background-color: var(--background, #3189FF);
}

.quiz-nav {
  display: flex;
  justify-content: space-around;
}

.quiz-nav button, .results-container button{
  font-family: var(--font-mono);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin: 5px;
  font-size: large;
}

.body {
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  background-color: red;
}

.divMiddle {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: inline-flex;
}

.form-group .errorMsg {
  padding-left: 10px;
  color: red;
  font-size: 13px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #3189FF; /* Adjust the background color as needed */
}

.menuItems {
  flex: 1;
  display: flex;
  gap: 20px; /* Adjust the gap between menu items as needed */
}

.menuItem a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white; /* Adjust the text color as needed */
  font-weight: bold;
}

.menuAuth {
  display: block;
}

/* Style the "Logout" link differently if needed */
.menuAuth .menuItem:last-child {
  color: #fff; /* Change the color for the "Logout" link */
  cursor: pointer;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
