button.button_light,
button.button_dark{
    padding: 15px 25px;
    border-radius: 40px;
    border: none;
    height: auto;
    width: 150px;
    /* margin: 20px 0; */
}

/* For light background */
.button_light {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background: linear-gradient(0deg, rgba(150, 68, 198, 1) 0%, rgba(142, 242, 255, 1) 100%);
    filter: drop-shadow(0px 4px 4px rgba(150, 68, 198, 0.3));
    transition: var(--transition);
}

.button_light:hover {
    margin-top: 3px;
    margin-bottom: -3px;
    filter: none;
    color: #dadada;
}


/* For dark background */
.button_dark {
    color: linear-gradient(0deg, rgba(150, 68, 198, 1) 0%, rgba(142, 242, 255, 1) 100%);
    background-color: #fff;
    filter: drop-shadow(0px 5px 8px #0163E8);
    transition: var(--transition);
}

.button_dark:hover {
    color: #f0f0f0;
    background-color: grey
        /*test*/

}